/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Root Styles
   ========================================================================== */

:root {
  --main-txt: #707070;
  --burly-woods: #DF9C8F; /*Burly Wood*/
  --antique-white: #9A8081; /*Antique White*/
}

@font-face {
  font-family: "Avenir";
  src: local('./web-fonts-with-css/css/fonts/Avenir.ttc');
}

body {
  max-width: 1920px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Avenir", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Goudy Bookletter 1911', serif;
  color: var(--burly-woods);
}

footer {

}

footer li {
  display: inline;
}

img {
  max-width: 50%;
}

.fa {
  color: var(--burly-woods)
}
