h1, h2, h3, h4 {
  font-family: 'Arvo', serif;
  color: #302B25;
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: #CBE6DA;
}

img {
  max-width: 100%;
}

/* BUILD THE GRID */

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

.header {
  grid-area: hd;
}

.container {
  padding: 0 30px;
  grid-area: main;
}

footer {
  grid-area: ft;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  align-self: center;
  background-color: #E3DDA5;
  color: #554135;
}

.copyright {
  grid-column: 1 / -1;
}

/************ Navigation *************/

nav {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(80px, auto);
}

nav a {
  text-decoration: none;
  text-align: center;
  align-self: center;
  font-weight: 500;
  color: #554135;
}

/************* Footer *************/

.socials {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  list-style: none;
  padding: 0;
  align-items: center;
}

.socials i {
  color: #554135;
}

/************* Hero! *************/

.about {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hero"
    "cover-title"
    "blurb";
}

.hero {
  grid-area: hero;
}

.cover-title {
  text-align: center;
}

/************* Skills! *************/
.experiences {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr, 1fr));
  grid-template-areas:
    "skills-1"
    "skills-2"
    "skills-3";
}

.experience {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  text-align: center;
}

.experience h3 {
  grid-column: 1 / -1;
  justify-self: center;
  color: #554135;
}

/************* Shared Pages *************/

.page {
  display: grid;
  grid-gap: 20px;
}

.page h1 {
  text-align: center;
}

.blurb {
  text-align: left;
}

  /** Drop Cap **/

.blurb p:first-child:first-letter {
  color: #903;
  font-family: 'Arvo', serif;
  font-size: 30px;
  line-height: 20px;
}

.illustrations,
.books,
.brands,
.webapps {
  display: grid;
  grid-gap: 20px;
  grid-template-columns:  repeat(auto-fit, minmax(150px, 1fr));
}

.title {
  border: 2px solid #ACB673;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

p.notes {
  color: #554135;
  font-style: italic;
  font-size: 12px;
}

/************* Web Development! *************/

.webapp {
  grid-template-areas:
    "title-info"
    "details";
}

.webapp .title {
  grid-area: title-info;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-areas: "title links";
}

.webapp .details {
  grid-area: details;
}

.webapp .project-name {
  grid-area: title;
}

.webapp .links {
  grid-area: links;
}

/************* Illustrations, Branding, BookArts! *************/

.images {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  padding-bottom: 20px;
}

.images img {
  width: 100%;
}

/****************** Queries ******************/

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "hd   hd   hd"
      "main main main"
      "ft   ft   ft";
  }

  footer {
    padding: 0 50px;
  }

  .container {
    padding: 0 50px;
  }

  .copyright {
    grid-column: 6 / -1;
  }

  .blurb {
    padding-top: 20px;
  }

  .experience {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    text-align: center;
  }

  /*** All components! ***/

  .illustrations,
  .books,
  .brands,
  .webapps,
  .illustration,
  .book,
  .brand {
    display: grid;
    grid-gap: 20px;
  }

  .webapps {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .illustrations,
  .books,
  .brands {
    grid-template-columns:  repeat(auto-fit, minmax(330px, 1fr));
  }

  .illustration,
  .brand {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .book {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .webapp .details {
    padding: 0 10px;
  }

  .illustration .title,
  .book .title,
  .brand .title {
    border: none;
    font-size: 20px;
    border: 4px dotted #ACB673;
    border-radius: 5px;
  }

  .illustration .details,
  .book .details,
  .brand .details {
    grid-column: 2 / -1;
  }

  .illustration .images,
  .book .images {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 20px;
  }

  .brand .images {
    grid-column: 2 / -1;
  }

  .images img {
    width: 100%;
  }

}

/****************** Queries ******************/

@media (min-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "hd   hd   hd"
      "main main main"
      "ft   ft   ft";
  }

  footer {
    padding: 0 50px;
  }

  .container {
    padding: 0 50px;
  }

  .copyright {
    grid-column: 6 / -1;
  }

  .blurb {
    padding-top: 20px;
  }

  .experience {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    text-align: center;
  }

  /*** All components! ***/

  .illustrations,
  .books,
  .brands {
    grid-template-columns:  repeat(auto-fit, minmax(460px, 1fr));
  }

  .illustration .title,
  .book .title,
  .brand .title {
    padding: 0 20px;
  }

}
