body {
  font-size: 15px;
  font-family: Georgia;
}

/* button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
} */

img {
  max-width: 100%;
}

/* .wrapper */

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Hero! */
.hero {
  align-content: center;
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hero"
    "cover-title"
}

.about {
  padding: 0 30px;
}

.about p:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-right: 8px;
  padding-bottom: auto;
}

/* Skills! */
.experiences {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.things-know {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
}

.things-do {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
}

.experience {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  /* box-shadow: 0 0 4px  rgba(0,0,0,0.1); */
}
